{% extends 'basetemplate.html' %}

{% block title %}My Groups{% endblock title %}

{% block contenttitle %}My Groups{% endblock %}

{% block contentcontent %}
  {% if Groups %}
  <ul>
  {% for a in Groups %}
    <li>
      <a href="/arranger/group/{{a.short_code}}/">{{a.name}}</a>
    </li>
  {% endfor %}
  </ul>
  {% else %}
  <p> You have no vocal groups! </p>
  {% endif %}
  
  <ul class="actions">
    <li><a class="button" onclick="$('.actions').hide();$('#newgroup').show();$(this).hide()">Create A New Group</a></li>
  </ul>
  
  <div id="newgroup" class="beautifulform" style="display:none;">
    <h3> Create Group </h3>
    <hr />
    <form action="" method="POST">{% csrf_token %}
      {{GroupCreateForm}}
      <input type="submit" />
    </form>
  
  </div>

{% endblock contentcontent %}
