{% extends 'basetemplate.html' %}

{% block contenttitle %} <a href="../../../.."> My Groups </a> &gt; <a href="../.."> {{group.name}} </a> &gt; {{song.title}} {% endblock %}

{% block contentcontent %}
  <div class="beautifulform">
  <h3> {{song.title}} </h3>
  <hr />
  {% if Tracks %}
    <h4> <span class="chkmark">&#x2713;</span> Tracks: </h4>
    <ul style="padding-left: 20px;">
    {% for a in Tracks %}
      <li> <a href="./del">[DELETE]</a> {{a.name}}</li>
    {% endfor %}
    </ul>
  {% else %}
    <h4> <span class="xmark">&#x2717;</span> There are currently no tracks for {{song.title}}</h4>
  {% endif %}
  <hr />
  {% if song.pdf_location %}
    <h4> <span class="chkmark">&#x2713;</span> This song has a PDF! </h4>
  {% else %}
    <h4> <span class="xmark">&#x2717;</span> Upload the sheet music as a PDF! </h4>
  {% endif %}
  </div>
  
  <ul class="actions">
    <li><a href="./upload/track/" class="button">Upload New Track</a></li>
    {% if song.pdf_location %}
    <li><a href="./upload/pdf/" class="button">Re-Upload Sheet Music</a></li>
    <li><a href="./delete/pdf/" class="button">Delete Sheet Music</a></li>
    {% else %}
    <li><a href="./upload/pdf/" class="button">Upload Sheet Music</a></li>
    {% endif %}
    <li><a onclick="$('#dest').show().html( $('#edit').html() )" class="button">Edit This Song</a></li>
    <li><a onclick="$('#dest').show().html( $('#delete').html() )" class="button">Delete This Song</a></li>
  </ul>
  
  <div id="dest" class="beautifulform" style="display:none;"></div>
  <div id="edit" style="display:none;">
    <h3> Edit {{song.title}} </h3>
    <hr />
    <form action="" method="POST">{% csrf_token %}
    <input type="hidden" name="__ACTION_TYPE" value="E">
      {% include 'formsnippet.html' with form=EditSongForm title="Edit this song" %}
    </form>
  </div>
  <div id="delete" style="display:none;">
    <h3> Delete </h3>
    <hr />
    <form action="" method="POST">{% csrf_token %}
    <input type="hidden" name="__ACTION_TYPE" value="D" />
    <input type="submit" onclick="return confirm('Deletion is irreversible! Are you sure?')" style="border:4px solid red; background-color:pink" value="Delete this song" />
    </form>
  </div>

{% endblock contentcontent %}

{% block title %}{{group.name}}{% endblock title %}
