{% extends 'app_private.html' %}

{% block SpareJavascript %}

<script type="text/javascript">
$(function() {
		$( "#accordion" ).accordion({collapsible: true, heightStyle: "content", active: false });
});

window.errorpanel = -1;
</script>

{% endblock SpareJavascript %}

{% block content %}

  {% if canedit %}
  <h1> <a href="../..">GO BACK</a> </h1>
  {% endif %}
  
  <h1> {{collection.title}} </h1>
  
  <p> {{collection.description|linebreaksbr}} </p>

  {% if Projects %}
    <h1> Projects in {{collection.title}} </h1>
    <ul>
    {% for a in Projects %}
    	<li><a href="./project/{{a.id}}/">{{a.title}}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <h1> There are no projects in {{collection.title}}</h1>
  {% endif %}
  
  
  {% if canedit %}
  <div id="accordion">
  	<h3> CREATE A NEW PROJECT </h3>
  	<div>
			<form action="" method="POST">{% csrf_token %}
			<input type="hidden" name="__KEVIN_WHICH" value="N">
				{% include 'formsnippet.html' with form=NewProjectForm title="Create a new project" panel=0 %}
			</form>
		</div>
		
		<h3> EDIT COLLECTION: {{collection.title}} </h3>
		<div>
			<form action="" method="POST">{% csrf_token %}
			<input type="hidden" name="__KEVIN_WHICH" value="E">
				{% include 'formsnippet.html' with form=EditCollectionForm title="Edit this collection" panel=1 %}
			</form>
		</div>
		
		<h3>DELETE COLLECTION</h3>
		<div>
			<form action="" method="POST">{% csrf_token %}
			<input type="hidden" name="__KEVIN_WHICH" value="D" />
			<input type="submit" style="border:4px solid red; background-color:pink" value="Delete this collection" />
			</form>
		</div>
	</div>
	
	<script type="text/javascript">
	
	$( "#accordion" ).on( "accordioncreate", function( event, ui ) {
	
			$( "#accordion" ).accordion( "option", "active", window.errorpanel );
	
	} );
	
	</script>
  {% endif %}
  

{% endblock content %}

{% block title %}Projects in {{collection.title}}{% endblock title %}