{% extends 'basetemplate.html' %}

{% block title %}{{group.name}} > {{song.title}}{% endblock %}

{% block contenttitle %}<a href="/group/{{group.short_code}}/">{{group.name}}</a> &gt; {{song.title}}{% endblock %}

{% block contentcontent %}

{% if song.message %}
  <p> {{song.message}} </p>
{% endif %}
<hr />

{% if not track_list and not song.pdf_location %}
  <p> Check back later for PDF and Learning Tracks </p>
  
{%else%}
<p> What would you like to do? </p>
<ul class="actions">
{% if song.pdf_location %}
  <li><a class="button" href="/static/user/pdfs/{{song.pdf_location}}">Download sheet music</a></li>
{% endif %}
</ul>
{% endif %}

<div id="mixer" style="border: 1px solid grey; padding:20px; border-radius: 10px;{% if not track_list %}background-color: lightgrey{% endif %}">
<h3 style="text-align: center;">Learning Track Composer</h3><hr />

  <table border="1">
    <tr>
      <th>
        Part
      </th>
      <th>
        Pan
      </th><!--
      <th>
        Effect
      </th>-->
    </tr>
    {% for track in track_list %}
      <tr class="track" data-name="{{track.name}}" data-filename="{{track.location}}">
        <td>
          {{track.name}}:
        </td>
        <td>
          <!--<div>Left <input type="range" name="pan-{{track.name}}" min="-1" max="1"> Right</div>-->
          <label>Left:</label><input type="radio" name="pan-{{track.name}}" value="Left">
          <label>Center:</label><input type="radio" name="pan-{{track.name}}" value="Center" checked>
          <label>Right:</label><input type="radio" name="pan-{{track.name}}" value="Right">
        </td><!--
        <td>
          <label>None:</label><input type="radio" name="effect-{{track.name}}" value="0" checked>
          <label>Octave Down:</label><input type="radio" name="effect-{{track.name}}" value="8vb">
          <label>Octave Up:</label><input type="radio" name="effect-{{track.name}}" value="8va" >
          <label>Mute:</label><input type="radio" name="effect-{{track.name}}" value="mute" >
        </td>-->
      </tr>
    {% endfor %}
    
  </table>
  {% csrf_token %}
  <ul class="actions">
    <li><a href="" onclick="{% if track_list %}request_mix(); {% endif %}return false;" class="button {% if not track_list %} disabledbutton {% endif %}" id="makeamixdownbutton" > Create Mixdown! </a></li>
  </ul>
  <div id="created_downloads">
  </div>
  <script type="text/javascript">
  
  text_actiondefault = document.getElementById("makeamixdownbutton").innerHTML;
  text_actionrunning = "<img src=\"/static/ajax-loading.gif\" alt=\"Please Wait.\">";
  
  function getSaveFileTitle(mixdata){
    SongTitle = "{{song.title}}";
    left = [];
    right = [];
    for (var i = 0; i < mixdata.length; i++){
      if (mixdata[i].pan == "Left"){
        left.push(mixdata[i])
      }
      if (mixdata[i].pan == "Right"){
        right.push(mixdata[i])
      }
    }
    if (left.length == 1) {
      return (SongTitle+"-"+left[0].name+"-Track.wav");
    } else if (right.length == 1) {
      return (SongTitle+"-"+right[0].name+"-Track.wav");
    }
    else {
      return (SongTitle+"-Mixdown.wav");
    }
  }
  
  function get_value_from_radios(r){
    for (var i = 0; i < r.length; i++){
      if (r[i].checked){
        return r[i].value;
      }
    }
    return null;
  }
  
  function get_value_from_slider(r){
    if (r[0].value == "-1"){
      return "Left"
    }
    if (r[0].value == "0"){
      return "Center"
    }
    if (r[0].value == "1"){
      return "Right"
    }
    return null;
  }
  
  
  function UrlExists(url) //I know that this function is synchronous, and most people recommend that it shouldn't, but it works well in this situation.
  {
    var http = new XMLHttpRequest();
    http.open('HEAD', url, false);
    http.send();
    return http.status!=404;
  }
  
  function request_mix(){
    //Processing
    if (window.inprocessing == true) {return null}
    
    document.getElementById("makeamixdownbutton").innerHTML = text_actionrunning;
    window.inprocessing = true;
  
    //CREATE JSON
    
    var ts = document.getElementsByClassName("track");
    
    var requestdata = [];
    
    for (var i = 0; i < ts.length; i++){
    
      var t=ts[i];
      var z = {};
      z.pan = get_value_from_radios(document.getElementsByName("pan-"+t.dataset["name"]));
      z.effect = get_value_from_radios(document.getElementsByName("effect-"+t.dataset["name"]));
      z.filename = t.dataset["filename"];
      z.name = t.dataset["name"];
      requestdata.push(z);
    
    }
    
    var json_requestdata = JSON.stringify(requestdata);
    
    //See if this mixdown has already been created
    var hash = CryptoJS.SHA256(json_requestdata);
    if (UrlExists("/static/user/mixdowns/" + hash + ".wav")){
      //Mixdown already exists, use it.
      MixdownRecieved("/static/user/mixdowns/" + hash + ".wav", requestdata)
    } else {
      // It needs to be created, so ask the server to make it.
      $.ajax({
        type: "POST",
        url: "./makeamixdown/",
        data: { "json": json_requestdata }
      })
      .done(function( msg ) {
        MixdownRecieved(msg, requestdata)
      });
    }
    
   
  }
  
  function MixdownRecieved(fileloc, data){
  
    var filename = getSaveFileTitle(data)
    
    var d = document.createElement("div");
    d.className = "adownload";
    
    var label = document.createElement("label");
    label.innerHTML = filename
    d.appendChild(label);
    
    var actions = document.createElement("ul");
    actions.className = "actions";
    
    var item = document.createElement("li");
    var a = document.createElement("a");
    a.href = fileloc;
    a.className = "button";
    a.setAttribute("download", filename);
    a.innerHTML = "Download!";
    item.appendChild(a);
    actions.appendChild(item);
    
    var item = document.createElement("li");
    var audio = document.createElement("audio");
    var src = document.createElement("source");
    audio.setAttribute("controls", true);
    src.setAttribute("type", "audio/wav");
    src.src = fileloc;
    
    audio.appendChild(src);
    item.appendChild(audio);
    actions.appendChild(item);
    
    d.appendChild(actions);
    
    document.getElementById("created_downloads").appendChild(d);
    
    document.getElementById("makeamixdownbutton").innerHTML = text_actiondefault;
    window.inprocessing = false;
    /*download(filename, getSaveFileTitle(requestdata))*/
  }
  </script>
  
</div>

{% endblock contentcontent %}
