@import url(http://fonts.googleapis.com/css?family=Jacques+Francois);

body {
  font-family: serif;
}

#centerwrap {
  padding-top:5px;
  margin: 0 auto;
  width: 800px;
}
#centerborder {
  border: 4px solid grey;
  border-top: none;
  border-bottom: none;
  padding: 1px 20px;
}
#sitetitle {
  text-align:center;
  font-family: 'Jacques Francois', serif;
}
#footer {
  margin-top: 50px;
}
.navbox {
  text-align:center;
  float:left;
  width: 372px;
  border: 2px solid grey;
  background:#DDD;
}
.navbox:hover {
  background:#AAA;
}
.navbox a {
  width:100%;
  padding:10px 0px;
  display:block;
}
#content {
  padding-top: 30px;
}
.nbsp {
  clear:both;
  width:0px;height:0px;
}
