body {
  font-family: 'Karla', sans-serif;
}
#logoutin {
  float:right;
  border-width:0 0 1px 1px;
  border-style:solid;
  border-bottom-left-radius:10px;
  border-top-right-radius:10px;
  text-align:right;
  padding:3px;
}
#container {
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid;
    margin-top:20px;
    margin-bottom:20px;
    border-radius:10px;
}
#titlewrap {
    width: 400px;
    margin:0 auto 40px;
    text-align:center;
    border-width:0 1px 2px;
    border-style:solid;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
#titlebar {
    padding-top:10px;
    font-weight: bold;
    font-size:200%;
}

#leftsidebar {
	width: 300px;
	float:left;
	margin-right:20px;
	text-transform:uppercase;

}

	.adspot {
	  width: 300px;
		float:left;
		border:2px solid;
		border-bottom-right-radius:10px;
		border-top-right-radius:10px;
		border-left:none;
		border-bottom:1px solid;
		margin-top:20px;
	}
	
	#navsidebar {
		width: 298px;
		float:left;
		border:2px solid;
		border-bottom-right-radius:10px;
		border-top-right-radius:10px;
		border-left:none;
		border-bottom:1px solid;
	}

#contentdiv {
    width: 600px;
    padding:25px;
    margin-left:20px;
    float:right;
    border:2px solid;
    border-right:none;
    border-radius:10px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-width: 1px;
  
}

#footerwrap {
    clear:both;
    width:250px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    padding-top:20px;
}

#footer {
    border:1px solid;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom:none;
}

#navsidebar ul li:first-child {
    padding-top: 10px;
} 
#navsidebar ul li {
	padding-bottom: 10px;
}

#regform td {
	padding:5px;
}











.formerrors {
	width: 400px;
	margin: 0 auto;
	border: 2px solid #BA4357;
	border-radius: 10px;
	padding:5px;
	background: #E895A2;
	margin-bottom:20px;
}

.formerrorsshow {
	text-align:center;
}

.formerrorsdata {
	border-top: 2px solid #BA4357;
	text-align:left;
	text-transform:capitalize;
}


.formerror {
	color:red;
}


.formcontainer {
  background:#48DB5C;
  border: 5px solid #087316;
  border-bottom-width: 3px;
  border-right-width: 3px;
  border-radius:30px;
  padding:15px;
  padding-top:5px;
  margin-top:10px;
}

.formtitle {
  text-align:center;
}

.formfield {
  background:#C7DB48;
  border-radius: 10px;
  padding:2px;
  margin:5px;
  float:left;
}

.formfieldlabel, .formfielderror {
  border-bottom: 2px solid #5C48DB;
}

.formfielderror {
  color: #DB487E;
  padding: 5px 0;
  
}

.formfieldelement {
  
}