<html>
    <head>
        <title>!!SITE NAME!! - {%block title%}{%endblock title%}</title>
        <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/layout.css">
        <link rel="stylesheet" type="text/css" href="/static/accordion.css">
        <link rel="stylesheet" type="text/css" href="/static/{%block stylesheet%}{%endblock stylesheet%}">
        {% if user.username %}
        <link rel="stylesheet" type="text/css" href="/static/userisloggedin.css">
        {% else %}
        <link rel="stylesheet" type="text/css" href="/static/userisnotloggedin.css">
        {% endif %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="/static/js/ajax.js"></script>
        
        {% block SpareJavascript %}{% endblock SpareJavascript %}
        
        <!-- Google Analytics Tracking Code -->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-36543488-3']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
        <!-- END Google Analytics Tracking Code -->
    </head>
    <body>
        <div id="container">
            <div id="logoutin">
              {% if user.username %}
                  Hello <br/> {{user.username}} <br /> (<a href="/logout/">Logout</a>?)</li>
              {% else %}
                  Hello! Do you <br /> want to <a href="/login/">Login</a>?
              {% endif %}
            </div>
            <div id="titlewrap">
              <div id="titlebar">
                !!NEEDS A TITLE!!
              </div>
            </div>
            <div id="leftsidebar">
              <div id="navsidebar">
                <ul>
                  <li><a href="/">Home Page</a></li>
                  <li><a href="/about/">About</a></li>
                  <li><a href="/faq/">FAQ</a></li>
                  <li><a href="/app/">Arrangers Click Here to login</a></li>
                  {% if user.username %}
                    <li><a href="/logout/">Logout</a></li>
                  {% endif %}
                  {%block navbar%}{%endblock navbar%}
                </ul>
              </div>
<!--              <div class="adspot" id="adspot1">
                <span style="display:block;width:300px;height:300px;"> ADVERTISEMENT GOES HERE </span>
              </div>
              <div class="adspot" id="adspot2">
                <span style="display:block;width:300px;height:300px;"> ADVERTISEMENT GOES HERE </span>
              </div> -->
            </div>
            <div id="contentdiv">
              {%block content%}{%endblock content%}
            </div>          
            <div id="footerwrap">
                <div id="footer">
                &copy; 2012 Kevin Johnson<br />&copy; 2012 Dave Grossman
                </div>
            </div>
        </div>
    </body>
</html>
