{% extends 'basetemplate.html' %}

{% block title %}{{song.title}} - {{group.name}}{% endblock title %}

{% block contenttitle %}{{song.title}} - {{group.name}}{% endblock %}

{% block contentcontent %}

{% if song.message %}
  <p> {{song.message}} </p>
{% endif %}
<hr />
<p> What would you like to do? </p>
<ul class="actions">
{% if song.pdf_location %}
  <li><a class="button" href="/static/user/pdfs/{{song.pdf_location}}">Download the sheet music as a PDF</a></li>
{% endif %}
{% if track_list %}
  <li><a class="button" href="" onclick="$(this).hide();$('#mixer').show();return false;">Create a learning track</a></li>
{% endif %}
{% if not track_list and not song.pdf_location %}
  <p> It looks like there's nothing to do </p>
{% endif %}
</ul>

<style>

table, th, td
{
border: 1px solid black;
}
th {
padding:3px;
background:rgb(213, 65, 90);;
color:white;
font-size: 1.3em;
text-align: left;
}
td {
padding:3px;
background: pink;
}
</style>

<div id="mixer" style="display:none; border: 1px solid grey; padding:20px; border-radius: 10px">
<p style="text-align: center;">Create Learning Track</p><hr />

  <table border="1">
    <tr>
      <th>
        Track Name
      </th>
      <th>
        Pan
      </th>
      <th>
        Effect
      </th>
    </tr>
    {% for track in track_list %}
      <tr class="track" data-name="{{track.name}}" data-filename="{{track.location}}">
        <td>
          {{track.name}}:
        </td>
        <td>
          <label>Left:</label><input type="radio" name="pan-{{track.name}}" value="Left">
          <label>Center:</label><input type="radio" name="pan-{{track.name}}" value="Center" checked>
          <label>Right:</label><input type="radio" name="pan-{{track.name}}" value="Right">
        </td>
        <td>
          <label>None:</label><input type="radio" name="effect-{{track.name}}" value="0" checked>
          <label>Octave Down:</label><input type="radio" name="effect-{{track.name}}" value="8vb">
          <label>Octave Up:</label><input type="radio" name="effect-{{track.name}}" value="8va" >
          <label>Mute:</label><input type="radio" name="effect-{{track.name}}" value="mute" >
        </td>
      </tr>
    {% endfor %}
    
  </table>
  
  <ul class="actions">
    <li><a href="" onclick="request_mix();return false;" class="button"> Make a mix-down! </a></li>
  </ul>
  <script type="text/javascript">
  
  function get_value_from_radios(r){
    for (var i = 0; i < r.length; i++){
      if (r[i].checked){
        return r[i].value;
      }
    }
    return null;
  }
  
  function request_mix(){
    //CREATE JSON
    
    var ts = document.getElementsByClassName("track");
    
    var requestdata = [];
    
    for (var i = 0; i < ts.length; i++){
    
      var t=ts[i];
      var z = {};
      z.pan = get_value_from_radios(document.getElementsByName("pan-"+t.dataset["name"]));
      z.effect = get_value_from_radios(document.getElementsByName("effect-"+t.dataset["name"]));
      z.filename = t.dataset["filename"];
      requestdata.push(z);
    
    }
    
    // Make the request.
    
    var json_requestdata = JSON.stringify(requestdata);
    
    $.ajax({
      type: "POST",
      url: "/group/makeamixdown",
      data: { "json": json_requestdata }
    })
    .done(function( msg ) {
      alert( "Data Saved: " + msg );
    });
  }
  </script>
  
</div>

<!--
<p> This is where the magic will soon happen, but right now there's nothing... </p>
{% if track_list %}
    <ul>
    {% for track in track_list %}
        <li><a href="/static/user/tracks/{{track.static_location}}">{{ track.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Litterally nothing... like no tracks or anything...</p>
{% endif %}
-->
{% endblock contentcontent %}
