{% extends 'basetemplate.html' %}

{% block title %}{{group.name}}{% endblock title %}

{% block contenttitle %}{{group.name}}{% endblock %}

{% block contentcontent %}

{% if group.message %}
  <p> {{group.message}} </p>
{% else %}
  <p> This group is fresh off the press! This group's arranger can replace this message by editing the "message to the group". </p>  
{% endif %}
<hr />
<p> Which song would you like to work on? </p>
{% if song_list %}
    <ul>
    {% for song in song_list %}
        <li><a href="/group/{{group.short_code}}/{{song.short_code}}/">{{ song.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Oops... No songs are available.</p>
{% endif %}

{% endblock contentcontent %}
