{% extends 'basetemplate.html' %}

{% block title %}Find Group{% endblock title %}

{% block contenttitle %} Find your vocal group {% endblock contenttitle%}

{% block contentcontent %}
<p> Great! If the director of your vocal group pointed you to this website, go ahead and try and find your group below, (or try anyways). If not, show it to them! </p>
{% if group_list %}
    <ul>
    {% for group in group_list %}
        <li><a href="/{{group.short_code}}/">{{ group.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Ooops... No groups are available.</p>
{% endif %}

{% endblock contentcontent %}
