<html>
  <head>
    <title>{% block title %}A Cappella{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="/static/base.css">
  </head>
  <body>
    <div id="centerwrap">
      <div id="sitetitle"> <h1>A Cappella</h1> </div>
      <div id="centerborder">
        <div id="nav">
          <div id="navguest" class="navbox"><a href="#singers">Singers</a></div>
          <div id="navarranger" class="navbox"><a href="#arrangers">Arrangers</a></div>
          <div class="nbsp">&nbsp;</div>
        </div>
        <div id="content">{% block content %}CONTENT GOES HERE{% endblock content%}    </div>
        <div id="footer">
        FOOTER GOES HERE
        </div>
      </div>
    </div>
  </body>
</html>
