{% extends 'public.html' %}

{% block content %}

<h1> NEXT TO DO: HITPOINTS YAY! FUN STUFF TO DO!! :D </h1>
<h1> THEN TO DO: DMCA COMPATABLITY :'( </h1>

<h1> Someone Write a Home Page </h1>
<h2> I will do it, but it will be so horribly written, that nobody in their right mind would want to read it </h2>
<h3> Grossman, this probably means you </h3>

<h2> It just needs to </h2>
<ol>
  <li> State what this whole website is about. </li>
  <li> Hint at the primary audience (A Capella, Vocal Arranging, Learning Tracks). </li>
  <li> Point a link to our <a href="/about/"> about page </a> which will contain more information. (Also needs to be written) </li>
  <li> Point a link to our <a href="/faq/"> FAQ </a> which will (or maybe we won't have it) answer common questions. (Also needs to be written) </li>
</ol>

<h1> <a href="/todo/">TODO LIST THAT WILL BE ACCOMPLISHED BEFORE THIS WEBSITE GOES LIVE</a> </h1>
<h3> If you, by using the website, notice something that needs to get done, but is not on this list, email {kevin [at] coolkev [dawt] com} Immediately.

{% endblock content %}

{% block title %}Titles are lovely{% endblock title %}