{% extends 'public.html' %}

{% block content %}

<h1> NEXT TO DO: HITPOINTS YAY! FUN STUFF TO DO!! :D </h1>
<h1> THEN TO DO: DMCA COMPATABLITY :'( </h1>

<h1> WORK IN PROGRESS </h1>

<h2> Now what needs to be done? </h2>

<h3> Uploads need to be restricted to .mp3 (? Unsure ?) </h3>
<h3> The design needs to be re-done (It might be ok now) </h3>
<h3> The website needs content </h3>
<h3> I need to go through in my "Not A Omnipotent King Of Website" mode and read through all the text </h3>
<h3> When looking through, I need to think about both people who will be using this site (Arrangers, and <span title="I just coined this, people who have parts arranged for them.">arrangees</span>). What will each one of them think when looking at each page </h3>
<h3> Optional PDF on Project page </h3>
<h3> Project page needs to show description </h3>
<h3> Tell them: DO NOT UPLOAD THE ORIGINAL TRACKS AS A CHANNEL. THAT IS ILLEGAL </h3> 
<h3> Terms of agreement, Basic stuff. You won't use this site to illegally share illegal music. If the feds come for me, I'm giving your IP up in a heartbeat (after checking to see if the track is really stolen). </h3>
<h3> Write a FAQ and ABOUT page </h3>
<h3> Write stylesheets to differentiate logged-in and not logged in users </h3> 
<h3> Turn off Debug Mode </h3>

<h2> We need a dedicated server </h2>
<h3> I refuse to run this for anything other than development at home </h3>
<h3> It eats bandwidth, and I like my fast internet </h3>
<h3> and my installation of Django is buggy, I don't like the combination of buggy Django + caching Chrome because I never know if I fixed the bug. </h3>

<h2> We need a Title, Favicon, and Domain Name. After-which, I need to: </h2>
<h3> Check all forms for exact urls, and replace them with our new url (regex for peereditit.com and home.coolkev.com replace)</h3>
{% endblock content %}

{% block title %}Titles are lovely{% endblock title %}